html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  // border: 0;
  // outline: 0;
  // font-size: 100%;
  // vertical-align: baseline;
  // background: transparent;
}

.timeline{
  font-family: "ecoico";
  display: table;

  .left_box{
    // float:left;
    width:20%;
    height: 100%;
    background: white;
    display: table-cell;
    border-right: 5px solid #afdcf8;

    .sidebar-nav {
      height: 100%;
      list-style: none;
      margin: 0;
      margin-bottom: auto;
      padding: 0;
      padding-left: 20px;

        .sidebar-brand {
          height: 65px;
          line-height: 60px;
          font-size: 18px;
          font-family: "ecoico";
        }
    }

    #page-content-wrapper {
      width: 100%;
    }

    .sidebar-nav li {
      line-height: 40px;
      text-indent: 20px;
    }

    .sidebar-nav li a {
      color: #2f4f4f;
      display: block;
      text-decoration: none;
    }

    .sidebar-nav li a:hover {
      color: #ffffff;
      background: rgba(255,255,255,0.2);
      background-color: #afdcf8;
      font-weight: bold;
      text-decoration: none;
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
      text-decoration: none;
    }

    .sidebar-nav > .sidebar-brand a {
      color: #999999;
    }

    // .sidebar-nav > .sidebar-brand a:hover {
    //   color: red  ;
    //   // background: none;
    // }

  } /* end of left_box */

  .main_box{
    display: table-cell;
    width:50%;
    padding-left: 50px;
    margin-top: 100px;

      .submit_btn{
      position: relative;
      left: 49.5%;

      }

      .t_textbox{
        min-width: 400px;
      }

      .t_image{
        width:100%;
      }

      .cbp_tmtimeline {
        margin: 30px 0 0 0;
        padding: 0;
        list-style: none;
        position: relative;

        // border: 1px solid #dcdcdc;
        // border-radius: 10px;        /* CSS3草案 */  
        // -webkit-border-radius: 10px;    /* Safari,Google Chrome用 */  
        // -moz-border-radius: 10px;   /* Firefox用 */ 

      }

      /* The line */
      .cbp_tmtimeline:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        width: 10px;
        background: #afdcf8;
        left: 20%;
        margin-left: -10px;
      }

      .cbp_tmtimeline > li {
        position: relative;
      }

      /* The date/time */
      .cbp_tmtimeline > li .cbp_tmtime {
        display: block;
        width: 25%;
        padding-right: 100px;
        position: absolute;
      }

      .cbp_tmtimeline > li .cbp_tmtime span {
        display: block;
        text-align: right;
      }

      .cbp_tmtimeline > li .cbp_tmtime span:first-child {
        font-size: 0.9em;
        color: #bdd0db;
      }

      .cbp_tmtimeline > li .cbp_tmtime span:last-child {
        font-size: 2.9em;
        color: #3594cb;
      }

      .cbp_tmtimeline > li:nth-child(odd) .cbp_tmtime span:last-child {
        color: #6cbfee;
      }

      /* Right content */
      .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 15px 25%;
        background: #3594cb;
        color: #fff;
        padding: 2em;
        font-size: 1.2em;
        font-weight: 300;
        line-height: 1.4;
        position: relative;
        border-radius: 5px;
      }

      .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel {
        background: #6cbfee;
      }

      .cbp_tmtimeline > li .cbp_tmlabel h2 {
        margin-top: 0px;
        padding: 0 0 10px 0;
        border-bottom: 1px solid rgba(255,255,255,0.4);
      }

      /* The triangle */
      .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-right-color: #3594cb;
        border-width: 10px;
        top: 10px;
      }

      .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: #6cbfee;
      }

      /* The icons */
      .cbp_tmtimeline > li .cbp_tmicon {
        width: 40px;
        height: 40px;
        font-family: 'ecoico';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        font-size: 1.4em;
        line-height: 40px;
        -webkit-font-smoothing: antialiased;
        position: absolute;
        color: #fff;
        background: #46a4da;
        border-radius: 50%;
        box-shadow: 0 0 0 8px #afdcf8;
        text-align: center;
        left: 20%;
        top: 0;
        margin: 0 0 0 -25px;
      }

      .cbp_tmicon-phone:before {
        content: "\e000";
      }

      .cbp_tmicon-screen:before {
        content: "\e001";
      }

      .cbp_tmicon-mail:before {
        content: "\e002";
      }

      .cbp_tmicon-earth:before {
        content: "\e003";
      }

      /* Example Media Queries */
      @media screen and (max-width: 65.375em) {

        .cbp_tmtimeline > li .cbp_tmtime span:last-child {
          font-size: 1.5em;
        }
      }

      @media screen and (max-width: 47.2em) {
      .cbp_tmtimeline:before {
        display: none;
      }

      .cbp_tmtimeline > li .cbp_tmtime {
        width: 100%;
        position: relative;
        padding: 0 0 20px 0;
      }

      .cbp_tmtimeline > li .cbp_tmtime span {
        text-align: left;
      }

      .cbp_tmtimeline > li .cbp_tmlabel {
        margin: 0 0 30px 0;
        padding: 1em;
        font-weight: 400;
        font-size: 95%;
      }

      .cbp_tmtimeline > li .cbp_tmlabel:after {
        right: auto;
        left: 20px;
        border-right-color: transparent;
        border-bottom-color: #3594cb;
        top: -20px;
      }

      .cbp_tmtimeline > li:nth-child(odd) .cbp_tmlabel:after {
        border-right-color: transparent;
        border-bottom-color: #6cbfee;
      }

      .cbp_tmtimeline > li .cbp_tmicon {
        position: relative;
        float: right;
        left: auto;
        margin: -55px 5px 0 0px;
      }
    }
  }

  .box3{
    display:table-cell;
    width:20%
  }
}

